{% extends 'base.html.twig' %}

{% block title %}Playlist index{% endblock %}

{% block body %}
    <h1>Playlist index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Nb_single</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for playlist in playlists %}
            <tr>
                <td>{{ playlist.id }}</td>
                <td>{{ playlist.name }}</td>
                <td>{{ playlist.nbSingle }}</td>
                <td>
                    <a href="{{ path('playlist_show', {'id': playlist.id}) }}">show</a>
                    <a href="{{ path('playlist_edit', {'id': playlist.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('playlist_new') }}">Create new</a>
{% endblock %}